.syntax--source.syntax--css {
    .syntax--entity {
      &.other {
        &.attribute-name {
          color: @px-blue;
        }
        &.inherited-class {
          color: @px-green;
        }
      }
    }
    .syntax--support {
      &.function {
        color: @px-orange;
        &.builtin {
          color: @px-violet;
        }
      }
      &.type {
        color: @px-violet;
      }
      &.syntax--constant{
        color: @px-green;
      }
      &.class,
      &.syntax--variable,
      &.other.module {
        color: @px-orange;
      }
    }
    .syntax--variable {
      &.parameter,
      &.other {
        color: @px-magenta;
      }
    }
    .syntax--constant{
      &.language,
      &.character,
      &.numeric,
      &.other {
        color: @px-orange;
      }
    }
}
