atom-text-editor {
  .syntax--gfm {
    .syntax--markup.syntax--italic {
      color:@px-text;
      font-style: italic;
    }
    .syntax--markup.syntax--bold {
      color:@px-text;
      font-weight:bold;
    }
    .syntax--markup.syntax--strike {
      text-decoration:line-through;
      color:@px-comment;
    }
    .syntax--markup.syntax--bold.syntax--italic {
      color:@px-text;
      font-weight:bold;
      font-style: italic;
    }
    .syntax--markup.syntax--heading.syntax--heading-1 {
      color:@px-text;
      font-weight:bold;
    }
    .syntax--markup.syntax--heading.syntax--heading-2 {
      color:@px-text;
      font-weight:bold;
    }
    .syntax--markup.syntax--heading.syntax--heading-3 {
      color:@px-text;
      font-weight:bold;
    }
    .syntax--markup.syntax--heading.syntax--heading-4 {
      color:@px-text;
      font-weight:bold;
    }
    .syntax--markup.syntax--heading.syntax--heading-5 {
      color:@px-text;
      font-weight:bold;
    }
    .syntax--markup.syntax--heading.syntax--heading-6 {
      color:@px-text;
      font-weight:bold;
    }
    .syntax--markup.syntax--heading.syntax--marker {
      color:@px-text;
    }
    .syntax--link {
      color:@px-back3;
      //text-decoration:underline;
    }
    .syntax--link .syntax--entity {
      color:@px-blue;
    }
    .syntax--raw {
      color:@px-code;
    }
    .syntax--block {
      color:@px-text;
      background-color: #699af4;
      font-style: normal;
    }
    .syntax--quote {
      color:@px-comment;
      font-style: italic;
    }
  }
}
